[Unit]
Description=A Bluesky feed for infosec
Documentation=https://github.com/seanthegeek/bluesky-infosec-feed
Wants=network-online.target
After=network.target network-online.target redis-server.service

[Service]
Type=Exec
WorkingDirectory=/opt/blueskyinfosecfeed/bluesky-infosec-feed
ExecStartPre=/opt/blueskyinfosecfeed/venv/bin/python3 load_regex.py
ExecStart=/opt/blueskyinfosecfeed/venv/bin/waitress-serve --listen=127.0.0.1:8080 server:app
User=blueskyinfosecfeed
Group=blueskyinfosecfeed
Restart=always
RestartSec=5m

[Install]
WantedBy=multi-user.target