[Unit]
Description=Updates the keywords for the Bluesky Infosec feed
Documentation=https://github.com/seanthegeek/bluesky-infosec-feed
Wants=network-online.target
After=network.target network-online.target redis-server.service

[Service]
Type=oneshot
WorkingDirectory=/opt/blueskyinfosecfeed/bluesky-infosec-feed
ExecStart=/opt/blueskyinfosecfeed/bluesky-infosec-feed/venv/bin/python3 load_redis.py
User=blueskyinfosecfeed
Group=blueskyinfosecfeed