[Unit]
Description=Updates the keywords for the Bluesky Infosec feed
Documentation=https://github.com/seanthegeek/bluesky-infosec-feed
Wants=network-online.target
After=network.target network-online.target redis-server.service

[Timer]
OnBootSec=1min
OnCalendar=*:0/1

[Install]
WantedBy=timers.target
